<div ng-include="'components/navbar/navbar.html'"></div>
<section class="container-fluid main">
  <div class="row">
    <article class="search">
      <form class="navbar-form" role="search">
        <div class="form-group"><input type="text" class="form-control" name="search" ng-model="ctrl.searchText" placeholder="search for contacts here!"></div>

        <button type="clear"  class="btn btn-warning" ng-click="ctrl.searchText = ''">Reset</button>
      </form>

<form href='card/new'>
    <input type="submit" value="Create a new card">
</form>


<!-- <div class="list-group">
  <div class="row"> -->
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 animate-card" ng-repeat="card in filteredCards = ( ctrl.inventory | inventory : ctrl.searchText | orderBy: 'name' )">

  <dt>name:</dt><dd>{{ card.name }}</dd><br>
  <dt>title:</dt><dd>{{ card.title }}</dd><br>
  <dt>company:</dt><dd>{{ card.company }}</dd><br>
  <dt>mobile:</dt><dd>{{ card.phone.mobile }}</dd><br>
  <dt>work:</dt><dd>{{ card.phone.work }}</dd><br>
  <dt>linkedin:</dt><dd>{{ card.linkedin }}</dd><br>
  <dt>site:</dt><dd>{{ card.site }}</dd><br>
  <button class="btn btn-sm btn-success" ng-click="cards.addCard(card)">Add Contact</button>
</div>





<!-- I DIDN'T KNOW WHICH BLOCK OF CODE WAS RIGHT, SO I COMMENTED THIS OUT; NEEDS REVIEW -->
    <!-- card in ctrl.cards -->
    <!-- <a ng-click="ctrl.goCard(card)" class="list-group-item col-sm-10">
      <h3>{{ card.name }}</h3>
      <article class="row">
        <div class="col-xs-5">
          <img class="left" width="75px" height="75px" src="/assets/images/inventory/{{card.imageFile}}"/> -->
       <!--  </div>

        <div class="col-lg-10">
          <dl class="dl-horizontal">
            <dt>name:</dt><dd>{{ card.name }}</dd>
            <dt>title:</dt><dd>{{ card.title }}</dd>
            <dt>company:</dt><dd>{{ card.company }}</dd>
            <dt>mobile:</dt><dd>{{ card.phone.mobile }}</dd>
            <dt>work:</dt><dd>{{ card.phone.work }}</dd>
            <dt>linkedin:</dt><dd>{{ card.linkedin }}</dd>
            <dt>site:</dt><dd>{{ card.site }}</dd>
            <button class="btn btn-sm btn-success" ng-click="ctrl.addCard(card)">Add Contact</button>
          </dl>
        </div>

      </article>
    </a> - -->

          </div>
          <div class="animate-inventory text-center" ng-hide="filteredCards.length">
            <h3>No names match your search.</h3>
          </div>
        </div>
      </div>
    </article>


    <!-- <article class="col-sm-3">
      <h2>Your Contacts:</h2>
      <ul>
        <li class="contact animate-contact" ng-repeat="card in ctrl.contact">
          <span>{{ cards[0].name + <br> + cards[0].title <br> + cards[0].company }}</span>
          <button class="btn btn-danger btn-xs" ng-click="ctrl.removeCard(card)">Remove Contact</button>
        </li>
      </ul>
    </article> -->
  </div>
</section>

<!-- <div class="container">
<div ng-controller="CardCtrl">
  <form novalidate class="simple-form">
    <h3>
    <input type="text" placeholder="name" ng-model="card.name" /><br />
    </h3>
    <input type="text" placeholder="title" ng-model="card.title" /><br />
    <input type="text" placeholder="company" ng-model="card.company" /><br />
    <input type="text" placeholder="mobile" ng-model="card.phone.cell" /><br />
    <input type="text" placeholder="work" ng-model="card.phone.work" /><br />
    <input type="text" placeholder="email" ng-model="card.email" /><br />
    <input type="text" placeholder="linkedin" ng-model="card.linkedin" /><br />
    <input type="text" placeholder="site" ng-model="card.site" /><br />
</form>
</div> -->


