
h2 {
  text-align: center;
  margin-left: 2%;
  margin-bottom: 25px;
}

h3 input {
  border: none;
}

// .middle {
//   position: relative;
// }

.btn-warning {
  margin-left: 5%;
}

.container {
  margin-left: 15%;
  text-align: left;
}

.container-fluid {
  margin-left: 15%;
}

.container input {
  text-align: left;
  border-bottom: solid black 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 250px;
  align: right;
  padding-top: 3px;
}

.container form {
  width: 400px;
  border: solid black 3px;
  padding: 10px;
  padding-bottom: 20px;
  background: white;
  margin-left: 25%;
}

.container input {
  margin-bottom: 10px;
}

.dl-horizontal {
  text-align: left;
}

.dl-horizontal dd dt {
  margin-left: 70px;
  margin-top: -100px;
}

dt, dd {
  line-height: .8;
}

form #form-button {
  margin-left: 25%;
}

.form-control {
  width: 400px;
  border: solid black 3px;
  padding: 10px;
  padding-bottom: 5px;
  background: white;
  margin-left: 25%;
}
.form-new input {
  margin-bottom: 5px;

}
.form-new a {
  margin-left: 25%;
}
// .form-group button {
//   margin-left: 25%;
// }

.sidebar-wrapper p {
  font-size: .7em;
  text-align: left;
  margin-left: 0%;
  margin-bottom: 50px;
  color: #FF6666;
}

.col-lg-2 #wrapper {
  margin-top: -7.5%;
  height: 100%;
  padding-bottom: 1000px;
}

.ng-binding {
  width: 200px;
  margin-left: 25%;
}

.form-new button {
  margin-left: 25%;
}

.glyphicon {
  font-size: .7em;
  margin-left: 7px;
}

.list-group-item {
  width: 300px;
  height: 250px;
}

a.list-group-item {
  margin: 20px;
  display: inline-block;
}

.row {
  text-align: left;
  margin: 10px;
}

.middle img {
  verticle-align: left;
}

#sidebar-brand {
  margin-top: 50px;
}
