<div ng-include="'components/navbar/navbar.html'"></div>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<section class="container-fluid main">
  <div class="row">

    <h1 class = "col-lg-5">Your Contacts</h1>
    <form method="link" action="cards/new" class = 'add_contact col-lg-2'>
        <button type="submit" class = "btn btn-info">Add new card</button>
      </form>
    <article class="search ">
      <form  role="search">
        <div class="form-group col-lg-10"><input type="text" class="form-control" name="search" ng-model="ctrl.searchText" placeholder="search for contacts here!"></div>

        <button type="clear"  class="btn btn-warning col-lg-1" ng-click="ctrl.searchText = ''">Reset</button>
      </form>





<!-- <div class="list-group">
  <div class="row"> -->

<div class="business-cards col-lg-4 col-md-6 col-sm-12 col-xs-12 animate-card" ng-repeat="card in filteredCards = ( ctrl.inventory | inventory : ctrl.searchText | orderBy: 'name' )">
 <!--  <dd><img src="../assets/images/inventory/pexels-photo-medium.jpeg" height="75px" width="75px">
  <img src="../assets/images/inventory/light-clouds-grass-ground-medium.jpg" height="75px" width="75px"><img src="../assets/images/inventory/IMG_4049.jpg" height="75px" width="75px"></dd> -->
  <dd><img src="../assets/images/inventory/cardup.jpg" height="75px" width="250px"></dd>
  <br>
  <dt>name:</dt><dd>{{ card.name }}</dd><br>
  <dt>title:</dt><dd>{{ card.title }}</dd><br>
  <dt>company:</dt><dd>{{ card.company }}</dd><br>
  <dt>mobile:</dt><dd>{{ card.phone.cell }}</dd><br>
  <dt>work:</dt><dd>{{ card.phone.work }}</dd><br>
  <dt>email:</dt><dd>{{ card.email }}</dd><br>
  <dt>linkedin:</dt><dd>{{ card.linkedin }}</dd><br>
  <dt>site:</dt><dd>{{ card.site }}</dd><br>
  <dt>notes:</dt><dd>{{ card.notes }}</dd><br><br><br>
  <button class="btn btn-sm btn-danger" ng-click="cards.removeCard(card)">Remove Contact</button>
</div>



          </div>
          <div class="animate-inventory text-center" ng-hide="filteredCards.length">
            <h3>No names match your search.</h3>
          </div>
        </div>
      </div>
    </article>

  </div>
</section>



