h1 {
//   text-align: left;
  margin-left: 31%;
}

h2 {
  text-align: center;
  margin-left: 2%;
  margin-bottom: 25px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
h4 {
  text-shadow: 2px 2px white;
  font-size: 2.5em;
}

h3 input {
  border: none;
}

dd {
  line-height: .5;
  min-height: 8px;
  margin-top: -7px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

dd img {
  margin-bottom: 6px;
  margin-top: 3px;
  margin-left: 7px;
}
dt {
  line-height: .5;
  min-height: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

form #form-button {
  margin-left: 2%;
  margin-top: 15px;
  margin-bottom: 3%;

}

// .middle {
//   position: relative;
// }

.btn-warning {
  margin-left: 8%;
}

.btn-danger {
  // margin-top: -5px;
  width: 115px;
  float: left;
  margin-right: 5px;
}

.btn-edit {
  width: 115px;
  float: right;
}

.btn-info {
  margin-top: 0px;
}

.business-cards {
  height: 400px;
  width: 300px;
}

.col-lg-4 {
  background: white;
  opacity: .85;
  margin: 10px;
  padding: 15px;
  border: black solid 2px;
  border-radius: 10%;
}

.container {
  margin-left: 15%;
  text-align: left;
}

.container-fluid {
  margin-left: 15%;
}

.container input {
  text-align: left;
  border-bottom: solid black 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  align: right;
  padding-top: 3px;
}

.container form {
  width: 400px;
  border: solid black 3px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: gray;
  margin-left: 25%;
}

.container input {
  margin-bottom: 10px;
}

.dl-horizontal {
  text-align: left;
}

.dl-horizontal dd dt {
  margin-left: 70px;
  margin-top: -100px;
}

.form-control {
  width: 400px;
  border: 3px double black;
  box-shadow: 5px 3px 5px #888888;
  padding: 10px;
  padding-bottom: 5px;
  background: white;
  margin-left: 33%;
}

#form-notes {
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 5px;
}

.form-new {
  margin-left: 23%;
}
.form-new input {
  margin-bottom: 5px;

}
.form-new a {
  margin-left: 25%;
}
// .form-group button {
//   margin-left: 25%;
// }

.sidebar-wrapper p {
  font-size: .7em;
  text-align: left;
  margin-left: 0%;
  margin-bottom: 50px;
  color: #FF6666;
}

.col-lg-2 #wrapper {
  margin-top: -7.5%;
  height: 100%;
  padding-bottom: 1000px;
}

.ng-binding {
  width: 200px;
  margin-left: 25%;
}

.form-new button {
  margin-left: 25%;
}

.glyphicon {
  font-size: .7em;
  margin-left: 7px;
}

.list-group-item {
  width: 300px;
  height: 250px;
}

a.list-group-item {
  margin: 20px;
  display: inline-block;
}

.row {
  text-align: left;
  margin: 10px;
}

.middle img {
  verticle-align: left;
}

#sidebar-brand {
  margin-top: 50px;
}




form {
  display: block;
  margin: 0px;
  overflow: hidden;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 0;
  margin-left:5%;
  width: 650px;
}


form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
form > div.switch > label {
  padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 {
  border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
  height: 86px;
}

label > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

.col-submit {
  text-align: center;
  padding: 20px;
}

label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}

label > input:focus, label > select:focus {
  opacity: 1;
}

#new_contact{
  background-color: rgba(255, 255, 255, 1);
  color:black;
  border-radius: 15px;
  }

#new_contact form label{
  color:black;
  font-size:14px;
}
.error {
  border-color: #FF9966;
  color: #FF9966;
}
.valid{
  color:#70DBDB;
  border-color:#70DBDB;
}
