
<div ng-include="'components/navbar/navbar.html'"></div>
<section class="container-fluid main">
  <div class="row">
    <article class="search">

      <form class="navbar-form" role="search">
        <div class="form-group"><input type="text" class="form-control" name="search" ng-model="ctrl.searchText" placeholder="search your cards here!"></div>

        <button type="clear"  class="btn btn-warning" ng-click="ctrl.searchText = ''">Reset</button>
      </form>


<div class="list-group">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-10 animate-inventory" ng-repeat="card in filteredCards = ( ctrl.inventory | inventory : ctrl.searchText | orderBy: 'name' )">

    <!-- card in ctrl.cards -->

    <a ng-click="ctrl.goCard(card)" class="list-group-item col-sm-10">
      <h3>{{ card.name }}</h3>
      <article class="row">
        <div class="col-xs-5">
          <img class="middle" width="75px" height="75px" src="/assets/images/inventory/loren.jpg"/>
        </div>

        <div class="col-lg-10">
          <dl class="dl-horizontal">
            <dt>name:</dt><dd>{{ card.name }}</dd>
            <dt>title:</dt><dd>{{ card.title }}</dd>
            <dt>company:</dt><dd>{{ card.company }}</dd>
            <dt>mobile:</dt><dd>{{ card.phone.mobile }}</dd>
            <dt>work:</dt><dd>{{ card.phone.work }}</dd>
            <dt>linkedin:</dt><dd>{{ card.linkedin }}</dd>
            <dt>site:</dt><dd>{{ card.site }}</dd>
            <button class="btn btn-sm btn-success" ng-click="ctrl.addCard(card)">Add Contact</button>
          </dl>
        </div>
      </article>
    </a>

        <!--   <div class="text-center">

            </div> -->
          </div>
          <div class="animate-inventory text-center" ng-hide="filteredCards.length">
            <h3>No names match your search.</h3>
          </div>
        </div>
      </div>
    </article>


    <article class="col-sm-3">
      <h2>Your Contacts:</h2>
      <ul>
        <li class="cart animate-cart" ng-repeat="card in ctrl.cart">
          <span>{{ card.name + <br> + card.title <br> + card.company }}</span>
          <button class="btn btn-danger btn-xs" ng-click="ctrl.removeItem(card)">Remove Contact</button>
        </li>
      </ul>
    </article>
  </div>
</section>

<!-- <div class="container">
<div ng-controller="CardCtrl">
  <form novalidate class="simple-form">
    <h3>
    <input type="text" placeholder="name" ng-model="card.name" /><br />
    </h3>
    <input type="text" placeholder="title" ng-model="card.title" /><br />
    <input type="text" placeholder="company" ng-model="card.company" /><br />
    <input type="text" placeholder="mobile" ng-model="card.phone.cell" /><br />
    <input type="text" placeholder="work" ng-model="card.phone.work" /><br />
    <input type="text" placeholder="email" ng-model="card.email" /><br />
    <input type="text" placeholder="linkedin" ng-model="card.linkedin" /><br />
    <input type="text" placeholder="site" ng-model="card.site" /><br />
</form>
</div> -->


