@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 50px;
  font: 14px 'Josefin Slab', serif;
  background-image: url('../assets/images/woman-hand-smartphone-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  background-color: rgb(100,100,100);
}


#hard_line hr{
  background-color:black;
}

.title h1{
  margin-left:37%;
  font-size: 75px;
}

#slogan{
  margin-left:20%;
  color: black;
  // background-color: white;
}

#title_points h2{
  color:black;
  text-align: center;
  font-size: 2.3em;
}

.box-shadow{
 box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .08), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#title_sections{
    background-color: rgba(255, 255, 255, .4);
    // margin-top: 5%;
    margin-right:0;
    margin-left:0;
    min-height: 200px;
    padding: 10px;
    border:none;
    // color: #4d4d4d;
}

// #wrapper-title {
//   background-color: white;
//   border-radius: 20px;
// }

/*NAVIGATION*/
#wrapper{
  background-color:black;
  padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  height: 100%;
  z-index: 1000;
  position: fixed;
  margin-left: -70px;
  margin-top: -50px;
  overflow-y: auto;
}

#sidebar-brand {
  font-size: 4em;
}

.sidebar-wrapper{
  padding-left: 10px;
  margin-left: 0;
  height: 100%;
}

.sidebar-wrapper li{
  list-style: none;
  font-size: 1.5em;
  padding-top: 20px;
  font-size: 1.8em;
  padding-top: 25px;
  color:#70DBDB;
  margin-right: 3px;
}

.sidebar-wrapper li a{
 text-decoration: none;
  color:white;
}

.sidebar-wrapper li a:hover{
  text-decoration: none;
  color: #0099CC;
  color: #70DBDB;
  -webkit-animation-name: slidein; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: slidein;
    animation-duration: 1s;

}
@keyframes slidein {
   0% { margin-left:  0; }
  50% { margin-left:  6px; }
  /*75% { margin-left:  10px; }*/
  100% { margin-left:  0px; }
}

.sidebar-wrapper li a:active{
  color:#70DBDB;
  list-style: none;
  margin-left: 75px;
  text-decoration: none;
}

//FOOTER
.footer {
    padding: 5px 0;
    margin-top: 5px;
    // border-top: 1px solid #E5E5E5;
    color:black;
    margin-left: 37%;
    font-size: 18px;
}


// SCAFFOLED SCSS
// .thing-form {
//     margin: 20px 0;
// }

// #banner {
//     border-bottom: none;
//     margin-top: -20px;
// }

// #banner h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }

// .hero-unit {
//     position: relative;
//     padding: 30px 15px;
//     color: #F5F5F5;
//     text-align: center;
//     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
//     background: #4393B9;
// }

// .navbar-text {
//   margin-left: 15px;
// }
