@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 50px;
  font: 14px 'Josefin Slab', serif;
  background-image: url('../assets/images/woman-hand-smartphone-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: rgb(100,100,100);
}


#hard_line hr{
  background-color:black;
}

.title h1{
  margin-left:37%;
  font-size: 75px;
}

#slogan{
  margin-left:20%;
  color: black;
  text-shadow: 1px 1px #fff;
}


#title_points h2{
  color:black;
  text-align: center;
  font-size: 2.3em;
}

.box-shadow{
 box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .08), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#title_sections{
    background-color: rgba(255, 255, 255, 0.96);
    // margin-top: 5%;
    margin-right:0;
    margin-left:0;
    margin-top:5px;
    min-height: 200px;
    padding: 10px;
    border:none;
    border-radius: 15px;
    // color: #4d4d4d;
}

#main-points {
  text-align: center;
  margin-left:40%;
}

.active{
  color:#70DBDB;
}

#wrapper-title p{
  color:black;
  text-align: center;
  font-size: 1.6em;
}

/*NAVIGATION*/
#wrapper{
  background-color:black;
  padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  height: 100%;
  z-index: 1000;
  position: fixed;
  margin-left: -70px;
  margin-top: -50px;
  overflow-y: auto;
}

#sidebar-brand {
  font-size: 4em;
}

.sidebar-wrapper{
  padding-left: 10px;
  margin-left: 0;
  height: 100%;
}

.sidebar-wrapper li{
  list-style: none;
  font-size: 1.5em;
  padding-top: 20px;
  font-size: 1.8em;
  padding-top: 25px;
  color:#70DBDB;
  margin-right: 3px;
}

.sidebar-wrapper li a{
 text-decoration: none;
  color:white;
}

.sidebar-wrapper li a:hover{
  text-decoration: none;
  color: #0099CC;
  color: #70DBDB;
  -webkit-animation-name: slidein; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: slidein;
    animation-duration: 1s;

}
@keyframes slidein {
   0% { margin-left:  0; }
  25% { margin-left:  4px; }
  50% { margin-left:  5px; }
  75% { margin-left:  4px; }
  85% { margin-left:  2px; }
  100% { margin-left:  0px; }
}

.sidebar-wrapper li a:active{
  color:#70DBDB;
  list-style: none;
  margin-left: 75px;
  text-decoration: none;
}
//CARD.HTML
.add_contact .btn form{
  font-size: 1.5;
}

//FOOTER
.footer {
    padding: 5px 0;
    margin-top: 5px;
    // border-top: 1px solid #E5E5E5;
    color:black;
    margin-left: 37%;
    font-size: 18px;
}

// LOGIN/SIGNUP FORM BOX
.container form {
  background-color: white;
}
.container form input {
  margin-left: 25px;
  border: gray solid 1px;
}

.btn-primary {
  background-color: #0099CC;
  margin-left: 25px;
  margin-top: 30px;
  color: white;
}
.btn-login {
  background-color: #FF9966;
  margin-left: 32px;
  margin-top: 30px;
  color: white;
}
.btn-login:hover {
  background-color: #70DBDB;
}
.btn-register {
  background-color: #FF9966;
  margin-left: 13px;
  margin-top: 30px;
  color: white;
}
.btn-register:hover {
  background-color: #70DBDB;
}
.btn-twitter {
  margin-left: 30px;
  border: white solid 1px;
}
.btn-primary {
  background-color: #FF9966;
  border: solid white 1px;
}

.col-sm-12 h1 {
  margin-left: 38%;
}

form > div > label {
  font-size: 16px;
  margin-left: 10px;
}


// SCAFFOLED SCSS
// .thing-form {
//     margin: 20px 0;
// }

// #banner {
//     border-bottom: none;
//     margin-top: -20px;
// }

// #banner h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }

// .hero-unit {
//     position: relative;
//     padding: 30px 15px;
//     color: #F5F5F5;
//     text-align: center;
//     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
//     background: #4393B9;
// }

// .navbar-text {
//   margin-left: 15px;
// }
